/*Color*/
input:focus, select:focus, textarea:focus, .au-input-2:focus {
  border: 1px solid #2f87c2;
}

.social-item-1:hover {
  background: #3498db;
}

.social-item-4:hover {
  background: none;
}

.bg-primary {
  background: #3498db;
  color: #fff;
}

.bg-primary a {
  color: #fff;
}

.bg-white .au-btn-primary {
  color: #fff;
}

.bg-white .au-btn-primary:hover {
  color: #fff;
}

.bg-white a:hover {
  color: #2f87c2;
}

.au-btn-grey:hover {
  background: #2f87c2;
  color: #fff;
  border-color: #2f87c2;
}

.au-btn-border-light:hover {
  background: #fff;
  border-color: #fff;
  color: #3498db !important;
}

.au-btn-border-primary {
  border: 2px solid #3498db;
  color: #3498db;
}

.au-btn-border-primary:hover {
  background: #3498db;
  color: #fff;
}

.au-btn-primary {
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db;
}

.au-btn-primary:hover {
  border: 1px solid #2f87c2;
  background: #2f87c2;
  color: #fff;
}

.au-btn-white {
  background: #fff;
  color: #3498db;
  border: 1px solid #fff;
}

.au-btn-white:hover {
  background: #2f87c2;
  border: 1px solid #2f87c2;
  color: #fff;
}

.slider-1 .caption-3 .au-btn-white:hover {
  color: #2f87c2;
}

.navbar-1 li a:hover {
  color: #3498db;
}

.navbar-1 li.drop .drop-menu li a {
  background: #3498db;
  color: #fff;
  border-bottom: 1px solid #2f87c2;
}

.navbar-1 li.drop .drop-menu li a:hover {
  background: #2f87c2;
  color: #fff;
}

.search-widget-1.search-widget-open .icon-search {
  background: #3498db;
}

.search-widget-1.search-widget-open .icon-search:after {
  color: #fff;
}

.navbar-mobile-1 {
  background: #3498db;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu {
  background: #e5f1fc;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu li a {
  border-bottom: 1px solid #e1e1e1;
  color: #3498db;
}

.navbar-mobile-1 ul.au-navbar-menu li a {
  border-bottom: 1px solid #2f87c2;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop .drop-menu .drop li a {
  background: #fff;
  border-bottom: 0;
}

.navbar-mobile-1 ul.au-navbar-menu li.drop > .clicked i:after, .navbar-mobile-1 ul.au-navbar-menu li.drop > .clicked i:before {
  background: #f1c40f;
}

.navbar-mobile-1 ul.au-navbar-menu li:hover > a {
  color: #f1c40f;
}

.slider-1 .tparrows {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

.slider-1 .tparrows:hover {
  background: #3498db;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
}

.slider-1 .tparrows:hover:before {
  opacity: 1;
}

.icon-box-2 .icon {
  background: #3498db;
}

.au-progress .au-progress-bar {
  background: #3498db;
}

.bg-overlay {
  background: rgba(52, 152, 219, 0.8);
}

.au-select .chosen-container .chosen-results li.highlighted {
  background: none;
  color: #3498db;
}

.au-select .chosen-container .chosen-drop ul li:hover, .au-select .chosen-container .chosen-drop ul li.result-selected {
  color: #3498db;
}

.image-card-1.dark .link a {
  color: #3498db;
}

.image-card-3 .title a:hover {
  background: #3498db;
  color: #fff;
}

.image-card-4 a {
  color: #3498db;
}

.image-card-4 a:hover {
  color: #2f87c2;
}

.footer-1.footer .social-item-1 a:hover {
  color: #fff;
}

.footer-1.footer a:hover {
  color: #2f87c2;
}

.heading-section-2 h3:after {
  background: #3498db;
}

.heading-section-2.bar-white h3:after {
  background: #fff;
}

.owl-carousel.nav-style-2.dark .owl-nav .owl-prev:hover, .owl-carousel.nav-style-2.dark .owl-nav .owl-next:hover {
  background: #3498db;
  border-color: #3498db;
}

.owl-carousel.nav-style-2.dark .owl-nav .owl-prev:hover i, .owl-carousel.nav-style-2.dark .owl-nav .owl-next:hover i {
  color: #fff;
}

.owl-carousel.nav-style-1.dark .owl-nav .owl-prev:hover, .owl-carousel.nav-style-1.dark .owl-nav .owl-next:hover {
  background: #3498db;
  border-color: #3498db;
}

.owl-carousel.nav-style-1.dark .owl-nav .owl-prev:hover i, .owl-carousel.nav-style-1.dark .owl-nav .owl-next:hover i {
  color: #fff;
}

.icon-box-5 .icon {
  background: #3498db;
}

.icon-box-5 .content .title a:hover, .icon-box-6 .title a:hover {
  color: #2f87c2;
}

.image-card-6 .job-title span {
  color: #3498db;
}

.header-2.light .navbar-1 ul li a:hover {
  color: #3498db;
}

.navbar-1 ul li.drop .drop-menu li a:hover {
  color: #fff;
}

.accordion-box-2 .accordion.open .accordion-title {
  background: #3498db;
}

.au-progress-2 .au-progress-bar .bar {
  stroke: rgba(242, 242, 242, 0.2);
}

.au-progress-2 .au-progress-bar .bar-color {
  stroke: #3498db;
}

.progress-box-2 .au-progress-bar {
  background: none;
}

.post-tabs-1 li.active a {
  color: #3498db;
  border-color: #3498db;
}

.post-tabs-1 li a:hover {
  border-color: #3498db;
  color: #3498db;
}

.banner-contact {
  background: #3498db;
}

.banner-contact h4, .banner-contact p {
  color: #fff;
}

.owl-carousel.nav-style-3 .owl-nav .owl-prev:hover, .owl-carousel.nav-style-3 .owl-nav .owl-next:hover {
  background: #3498db;
}

.owl-carousel.dots-style-1 .owl-dots .owl-dot.active {
  background: #3498db;
}

.project-tabs li.active span {
  color: #3498db;
}

.au-paginations li:not(.next) a:hover, .au-paginations li:not(.next).active a,
.au-paginations li:not(.prev) a:hover, .au-paginations li:not(.prev).active a {
  background: #3498db;
  color: #fff;
  border-color: #3498db;
}

.au-paginations li.next a:hover, .au-paginations li.prev a:hover {
  color: #3498db;
  background: none;
}

.post-section-2 .post-info p a:hover {
  color: #3498db;
}

.tags .tag a:hover {
  background: #3498db;
  border-color: #3498db;
  color: #fff;
}

.post-author a:hover {
  color: #3498db;
}

.social-item-3.text:hover {
  background: none;
}

.post-comments .comments-item .comment-content .author-info .reply-link:hover {
  color: #3498db;
}

.search-widget-2 .icon-search a:hover {
  background: #3498db;
}

.sidebar-lists-1 li a:hover, .sidebar-lists-2 li a:hover, .image-card-9 .content .title a:hover {
  color: #3498db;
}

.au-timeline .date {
  color: #3498db;
}

.au-timeline .timeline-block .icon-dot {
  background: #3498db;
}

.au-timeline:after {
  background: #e5f1fc;
}

.leaderships .leadership .leadership-content a {
  color: #3498db;
}

.leaderships .leadership .leadership-content a:hover {
  color: #2f87c2;
}

.heading-page-1 .breadcrumbs li a:hover {
  color: #2f87c2;
}

.partnerships .partnership a, .leaderships .leadership a.text-black {
  color: #333333;
}

.partnerships .partnership a:hover, .leaderships .leadership a.text-black:hover {
  color: #2f87c2;
}

.contact-map-section-1 .controls li.active a {
  color: #3498db !important;
}

.contact-map-section-1 .controls li:hover a {
  color: #2f87c2 !important;
}

.contact-map-section-1 .google-map .gm-style-iw ul li {
  color: #3498db;
}

#switcher .btn-buy {
  background: #3498db;
}

#switcher .btn-buy:hover {
  background: #2f87c2;
}




















<style id='alister-bank-retina-inline-css' type='text/css'>
#cmsmasters_row_t3gnv4sqsp .cmsmasters_row_outer_parent {
	padding-top: 135px;
}

#cmsmasters_row_t3gnv4sqsp .cmsmasters_row_outer_parent {
	padding-bottom: 100px;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_t3gnv4sqsp .cmsmasters_row_outer_parent {
					padding-top: 60px;
				}
			}

			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_t3gnv4sqsp .cmsmasters_row_outer_parent {
					padding-bottom: 65px;
				}
			}

#cmsmasters_column_80efeaz8k {
	border-style:default;
}

#cmsmasters_column_80efeaz8k .cmsmasters_column_inner {
	padding: 0;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_80efeaz8k .cmsmasters_column_inner {
					padding: 0 0 0 50px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_80efeaz8k .cmsmasters_column_inner {
					padding: 0 0 0 20px;
				}
			}

			@media only screen and (max-width: 540px) {
				#cmsmasters_column_80efeaz8k .cmsmasters_column_inner {
					padding: 0 0 0 5px;
				}
			}

			@media only screen and (max-width: 320px) {
				#cmsmasters_column_80efeaz8k .cmsmasters_column_inner {
					padding: 0;
				}
			}

#cmsmasters_column_fmjroo7lsh {
	border-style:default;
}

#cmsmasters_column_fmjroo7lsh .cmsmasters_column_inner {
	padding: 0 ;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_fmjroo7lsh .cmsmasters_column_inner {
					padding: 0 0 0 45px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_fmjroo7lsh .cmsmasters_column_inner {
					padding: 0 0 0 45px;
				}
			}

			@media only screen and (max-width: 540px) {
				#cmsmasters_column_fmjroo7lsh .cmsmasters_column_inner {
					padding: 0 0 0 30px;
				}
			}

			@media only screen and (max-width: 320px) {
				#cmsmasters_column_fmjroo7lsh .cmsmasters_column_inner {
					padding: 0 0 0 5px;
				}
			}

#cmsmasters_heading_5tykan2c3 {
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
}

#cmsmasters_heading_5tykan2c3 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_5tykan2c3 .cmsmasters_heading, #cmsmasters_heading_5tykan2c3 .cmsmasters_heading a {
	font-size:15px;
	line-height:24px;
	font-weight:400;
	color:rgba(17,17,17,0.5);
}

#cmsmasters_heading_5tykan2c3 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_5tykan2c3 .cmsmasters_heading_divider {
}



#cmsmasters_heading_wxu12zddu {
	text-align:left;
	margin-top:0px;
	margin-bottom:20px;
}

#cmsmasters_heading_wxu12zddu .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_wxu12zddu .cmsmasters_heading, #cmsmasters_heading_wxu12zddu .cmsmasters_heading a {
	font-size:36px;
	line-height:42px;
}

#cmsmasters_heading_wxu12zddu .cmsmasters_heading a:hover {
}

#cmsmasters_heading_wxu12zddu .cmsmasters_heading_divider {
}



#cmsmasters_divider_zqwhtlb2pm {
	border-bottom-width:0px;
	border-bottom-style:solid;
	margin-top:10px;
	margin-bottom:0px;
}

#cmsmasters_button_3vz4s9kpfq {
	float:left;
}

#cmsmasters_button_3vz4s9kpfq .cmsmasters_button:before {
	margin-right:.5em;
	margin-left:0;
	vertical-align:baseline;
}

#cmsmasters_button_3vz4s9kpfq .cmsmasters_button {
	font-weight:500;
	font-style:default;
	text-transform:default;
	padding-right:40px;
	padding-left:40px;
	border-width:1px;
	border-style:default;
	background-color:#e53b24;
	color:#ffffff;
	border-color:#e53b24;
}
#cmsmasters_button_3vz4s9kpfq .cmsmasters_button:hover {
	background-color:#fcfcfc;
	color:#e53b24;
	border-color:#e53b24;
}

#cmsmasters_row_8wvwfq1f5s {
	background-color:#f7f7f7;
}

#cmsmasters_row_8wvwfq1f5s .cmsmasters_row_outer_parent {
	padding-top: 0px;
}

#cmsmasters_row_8wvwfq1f5s .cmsmasters_row_outer_parent {
	padding-bottom: 0px;
}

#cmsmasters_row_8wvwfq1f5s .cmsmasters_row_inner.cmsmasters_row_fullwidth {
	padding-left:8%;
}
#cmsmasters_row_8wvwfq1f5s .cmsmasters_row_inner.cmsmasters_row_fullwidth {
	padding-right:8%;
}

#cmsmasters_column_6rf377l5xg {
	background-color:#ffffff;
	border-style:default;
}

#cmsmasters_column_6rf377l5xg .cmsmasters_column_inner {
	padding: 105px 20px 110px 135px ;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_6rf377l5xg .cmsmasters_column_inner {
					padding: 60px 20px 60px 60px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_6rf377l5xg .cmsmasters_column_inner {
					padding: 60px 20px 60px 30px;
				}
			}

			@media only screen and (max-width: 540px) {
				#cmsmasters_column_6rf377l5xg .cmsmasters_column_inner {
					padding: 60px 20px 60px 25px;
				}
			}

#cmsmasters_heading_0kxedfh8w {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_0kxedfh8w .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_0kxedfh8w .cmsmasters_heading, #cmsmasters_heading_0kxedfh8w .cmsmasters_heading a {
	font-size:15px;
	line-height:24px;
	font-weight:400;
	color:rgba(17,17,17,0.5);
}

#cmsmasters_heading_0kxedfh8w .cmsmasters_heading a:hover {
}

#cmsmasters_heading_0kxedfh8w .cmsmasters_heading_divider {
}



#cmsmasters_heading_50auroy28m {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_50auroy28m .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_50auroy28m .cmsmasters_heading, #cmsmasters_heading_50auroy28m .cmsmasters_heading a {
	font-size:36px;
	line-height:42px;
}

#cmsmasters_heading_50auroy28m .cmsmasters_heading a:hover {
}

#cmsmasters_heading_50auroy28m .cmsmasters_heading_divider {
}



#cmsmasters_fb_dk7ez5svg8 {
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0);
}

#cmsmasters_fb_dk7ez5svg8 .featured_block_inner {
	width: 75%;
	padding: ;
	text-align: left;
	float:left;
}

#cmsmasters_fb_dk7ez5svg8 .featured_block_text {
	text-align: left;
}



#cmsmasters_divider_f5aptc981o {
	border-bottom-width:0px;
	border-bottom-style:solid;
	margin-top:15px;
	margin-bottom:0px;
}


#cmsmasters_fb_ksmafp0f6 {
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0);
	background-image: url(../wp-content/uploads/2016/06/33.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

#cmsmasters_fb_ksmafp0f6 .featured_block_inner {
	width: 100%;
	padding: ;
	text-align: left;
	float:left;
}

#cmsmasters_fb_ksmafp0f6 .featured_block_text {
	text-align: left;
}


#cmsmasters_row_u36rmiur2 .cmsmasters_row_outer_parent {
	padding-top: 130px;
}

#cmsmasters_row_u36rmiur2 .cmsmasters_row_outer_parent {
	padding-bottom: 135px;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_u36rmiur2 .cmsmasters_row_outer_parent {
					padding-top: 60px;
				}
			}

			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_u36rmiur2 .cmsmasters_row_outer_parent {
					padding-bottom: 65px;
				}
			}

#cmsmasters_column_3tjuohvjs {
	border-style:default;
}

#cmsmasters_column_3tjuohvjs .cmsmasters_column_inner {
	padding: 0;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_3tjuohvjs .cmsmasters_column_inner {
					padding: 0 0 0 50px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_3tjuohvjs .cmsmasters_column_inner {
					padding: 0 0 0 20px;
				}
			}

			@media only screen and (max-width: 540px) {
				#cmsmasters_column_3tjuohvjs .cmsmasters_column_inner {
					padding: 0 0 0 5px;
				}
			}

			@media only screen and (max-width: 320px) {
				#cmsmasters_column_3tjuohvjs .cmsmasters_column_inner {
					padding: 0;
				}
			}

#cmsmasters_column_vsw7srscim {
	border-style:default;
}

#cmsmasters_column_vsw7srscim .cmsmasters_column_inner {
	padding: 0;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_vsw7srscim .cmsmasters_column_inner {
					padding: 0 0 0 45px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_vsw7srscim .cmsmasters_column_inner {
					padding: 0 0 0 45px;
				}
			}

			@media only screen and (max-width: 540px) {
				#cmsmasters_column_vsw7srscim .cmsmasters_column_inner {
					padding: 0 0 0 30px;
				}
			}

			@media only screen and (max-width: 320px) {
				#cmsmasters_column_vsw7srscim .cmsmasters_column_inner {
					padding: 0 0 0 5px;
				}
			}

#cmsmasters_heading_fbvem95o5o {
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
}

#cmsmasters_heading_fbvem95o5o .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_fbvem95o5o .cmsmasters_heading, #cmsmasters_heading_fbvem95o5o .cmsmasters_heading a {
	font-size:15px;
	line-height:24px;
	font-weight:400;
	color:rgba(17,17,17,0.5);
}

#cmsmasters_heading_fbvem95o5o .cmsmasters_heading a:hover {
}

#cmsmasters_heading_fbvem95o5o .cmsmasters_heading_divider {
}



#cmsmasters_fb_uarer6erqp {
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0);
}

#cmsmasters_fb_uarer6erqp .featured_block_inner {
	width: 85%;
	padding: ;
	text-align: left;
	float:left;
}

#cmsmasters_fb_uarer6erqp .featured_block_text {
	text-align: left;
}



#cmsmasters_heading_b8eows72f8 {
	text-align:left;
	margin-top:0px;
	margin-bottom:20px;
}

#cmsmasters_heading_b8eows72f8 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_b8eows72f8 .cmsmasters_heading, #cmsmasters_heading_b8eows72f8 .cmsmasters_heading a {
	font-size:36px;
	line-height:42px;
}

#cmsmasters_heading_b8eows72f8 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_b8eows72f8 .cmsmasters_heading_divider {
}



#cmsmasters_divider_6iwlja402p {
	border-bottom-width:0px;
	border-bottom-style:solid;
	margin-top:10px;
	margin-bottom:0px;
}

#cmsmasters_button_sf9znapqjo {
	float:left;
}

#cmsmasters_button_sf9znapqjo .cmsmasters_button:before {
	margin-right:.5em;
	margin-left:0;
	vertical-align:baseline;
}

#cmsmasters_button_sf9znapqjo .cmsmasters_button {
	font-weight:500;
	font-style:default;
	text-transform:default;
	padding-right:40px;
	padding-left:40px;
	border-width:1px;
	border-style:default;
	background-color:#e53b24;
	color:#ffffff;
	border-color:#e53b24;
}
#cmsmasters_button_sf9znapqjo .cmsmasters_button:hover {
	background-color:#fcfcfc;
	color:#e53b24;
	border-color:#e53b24;
}

#cmsmasters_row_bww3kyfntp {
	background-color:#f7f7f7;
}

#cmsmasters_row_bww3kyfntp .cmsmasters_row_outer_parent {
	padding-top: 0px;
}

#cmsmasters_row_bww3kyfntp .cmsmasters_row_outer_parent {
	padding-bottom: 0px;
}

#cmsmasters_row_bww3kyfntp .cmsmasters_row_inner.cmsmasters_row_fullwidth {
	padding-left:8%;
}
#cmsmasters_row_bww3kyfntp .cmsmasters_row_inner.cmsmasters_row_fullwidth {
	padding-right:8%;
}

#cmsmasters_column_k5i03nq1qn {
	background-color:#ffffff;
	border-style:default;
}

#cmsmasters_column_k5i03nq1qn .cmsmasters_column_inner {
	padding: 120px 20px 125px 135px ;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_column_k5i03nq1qn .cmsmasters_column_inner {
					padding: 60px 20px 60px 60px;
				}
			}

			@media only screen and (max-width: 768px) {
				#cmsmasters_column_k5i03nq1qn .cmsmasters_column_inner {
					padding: 60px 20px 60px 25px;
				}
			}

#cmsmasters_heading_3chc57nyr {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_3chc57nyr .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_3chc57nyr .cmsmasters_heading, #cmsmasters_heading_3chc57nyr .cmsmasters_heading a {
	font-size:15px;
	line-height:24px;
	font-weight:400;
	color:rgba(17,17,17,0.5);
}

#cmsmasters_heading_3chc57nyr .cmsmasters_heading a:hover {
}

#cmsmasters_heading_3chc57nyr .cmsmasters_heading_divider {
}



#cmsmasters_heading_xetm3rec3z {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_xetm3rec3z .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_xetm3rec3z .cmsmasters_heading, #cmsmasters_heading_xetm3rec3z .cmsmasters_heading a {
	font-size:36px;
	line-height:42px;
}

#cmsmasters_heading_xetm3rec3z .cmsmasters_heading a:hover {
}

#cmsmasters_heading_xetm3rec3z .cmsmasters_heading_divider {
}



#cmsmasters_fb_sbskzjryv7 {
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0);
}

#cmsmasters_fb_sbskzjryv7 .featured_block_inner {
	width: 75%;
	padding: ;
	text-align: left;
	float:left;
}

#cmsmasters_fb_sbskzjryv7 .featured_block_text {
	text-align: left;
}



#cmsmasters_divider_crpbxmgowl {
	border-bottom-width:0px;
	border-bottom-style:solid;
	margin-top:20px;
	margin-bottom:0px;
}

#cmsmasters_button_16nf1toc4r {
	float:left;
}

#cmsmasters_button_16nf1toc4r .cmsmasters_button:before {
	margin-right:.5em;
	margin-left:0;
	vertical-align:baseline;
}

#cmsmasters_button_16nf1toc4r .cmsmasters_button {
	font-size:14px;
	line-height:38px;
	font-weight:500;
	font-style:default;
	text-transform:default;
	padding-right:25px;
	padding-left:25px;
	border-width:1px;
	border-style:default;
	background-color:#e53b24;
	color:#ffffff;
	border-color:#e53b24;
}
#cmsmasters_button_16nf1toc4r .cmsmasters_button:hover {
	background-color:#ffffff;
	color:#e53b24;
	border-color:#e53b24;
}


#cmsmasters_button_1ruh2rsvw {
	float:left;
}

#cmsmasters_button_1ruh2rsvw .cmsmasters_button:before {
	margin-right:.5em;
	margin-left:0;
	vertical-align:baseline;
}

#cmsmasters_button_1ruh2rsvw .cmsmasters_button {
	font-size:14px;
	line-height:38px;
	font-weight:500;
	font-style:default;
	text-transform:default;
	padding-right:25px;
	padding-left:25px;
	border-width:1px;
	border-style:default;
	background-color:#ffffff;
	color:#292834;
	border-color:#d2d2d8;
}
#cmsmasters_button_1ruh2rsvw .cmsmasters_button:hover {
	background-color:#ffffff;
	color:#292834;
	border-color:#292834;
}

.cmsmasters_button_margin {
     margin-right: 35px;
     margin-bottom: 15px;
}


#cmsmasters_fb_hlnxgd5lbs {
	padding-top:0px;
	padding-bottom:0px;
	background-color:rgba(255,255,255,0);
	background-image: url(../wp-content/uploads/2016/06/6-2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

#cmsmasters_fb_hlnxgd5lbs .featured_block_inner {
	width: 100%;
	padding: ;
	text-align: left;
	float:left;
}

#cmsmasters_fb_hlnxgd5lbs .featured_block_text {
	text-align: left;
}


#cmsmasters_row_75oc9qkwgl {
	background-color:#ffffff;
}

#cmsmasters_row_75oc9qkwgl .cmsmasters_row_outer_parent {
	padding-top: 100px;
}

#cmsmasters_row_75oc9qkwgl .cmsmasters_row_outer_parent {
	padding-bottom: 80px;
}


			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_75oc9qkwgl .cmsmasters_row_outer_parent {
					padding-top: 50px;
				}
			}

			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_75oc9qkwgl .cmsmasters_row_outer_parent {
					padding-bottom: 50px;
				}
			}

#cmsmasters_column_2a5gpayuxl {
	border-style:default;
}


#cmsmasters_heading_v83vc7bj2 {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_v83vc7bj2 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_v83vc7bj2 .cmsmasters_heading, #cmsmasters_heading_v83vc7bj2 .cmsmasters_heading a {
	font-size:24px;
}

#cmsmasters_heading_v83vc7bj2 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_v83vc7bj2 .cmsmasters_heading_divider {
}



#cmsmasters_heading_ocgne99ywe {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_ocgne99ywe .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_ocgne99ywe .cmsmasters_heading, #cmsmasters_heading_ocgne99ywe .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_ocgne99ywe .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_ocgne99ywe .cmsmasters_heading_divider {
}



#cmsmasters_heading_b5ift7y1m2 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_b5ift7y1m2 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_b5ift7y1m2 .cmsmasters_heading, #cmsmasters_heading_b5ift7y1m2 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_b5ift7y1m2 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_b5ift7y1m2 .cmsmasters_heading_divider {
}



#cmsmasters_heading_4ihuidvgt {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_4ihuidvgt .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_4ihuidvgt .cmsmasters_heading, #cmsmasters_heading_4ihuidvgt .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_4ihuidvgt .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_4ihuidvgt .cmsmasters_heading_divider {
}



#cmsmasters_heading_b5a8jj5tbm {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_b5a8jj5tbm .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_b5a8jj5tbm .cmsmasters_heading, #cmsmasters_heading_b5a8jj5tbm .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_b5a8jj5tbm .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_b5a8jj5tbm .cmsmasters_heading_divider {
}



#cmsmasters_heading_u7ajfidyud {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_u7ajfidyud .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_u7ajfidyud .cmsmasters_heading, #cmsmasters_heading_u7ajfidyud .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_u7ajfidyud .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_u7ajfidyud .cmsmasters_heading_divider {
}




#cmsmasters_heading_hid3u6zt1s {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_hid3u6zt1s .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_hid3u6zt1s .cmsmasters_heading, #cmsmasters_heading_hid3u6zt1s .cmsmasters_heading a {
	font-size:24px;
}

#cmsmasters_heading_hid3u6zt1s .cmsmasters_heading a:hover {
}

#cmsmasters_heading_hid3u6zt1s .cmsmasters_heading_divider {
}



#cmsmasters_heading_sic5lxxfj {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_sic5lxxfj .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_sic5lxxfj .cmsmasters_heading, #cmsmasters_heading_sic5lxxfj .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_sic5lxxfj .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_sic5lxxfj .cmsmasters_heading_divider {
}



#cmsmasters_heading_79uow1tqe6 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_79uow1tqe6 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_79uow1tqe6 .cmsmasters_heading, #cmsmasters_heading_79uow1tqe6 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_79uow1tqe6 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_79uow1tqe6 .cmsmasters_heading_divider {
}



#cmsmasters_heading_uwm4st1jwh {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_uwm4st1jwh .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_uwm4st1jwh .cmsmasters_heading, #cmsmasters_heading_uwm4st1jwh .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_uwm4st1jwh .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_uwm4st1jwh .cmsmasters_heading_divider {
}



#cmsmasters_heading_ylhli9mund {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_ylhli9mund .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_ylhli9mund .cmsmasters_heading, #cmsmasters_heading_ylhli9mund .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_ylhli9mund .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_ylhli9mund .cmsmasters_heading_divider {
}



#cmsmasters_heading_hqtpjakhu {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_hqtpjakhu .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_hqtpjakhu .cmsmasters_heading, #cmsmasters_heading_hqtpjakhu .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_hqtpjakhu .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_hqtpjakhu .cmsmasters_heading_divider {
}




#cmsmasters_heading_7qu39clccb {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_7qu39clccb .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_7qu39clccb .cmsmasters_heading, #cmsmasters_heading_7qu39clccb .cmsmasters_heading a {
	font-size:24px;
}

#cmsmasters_heading_7qu39clccb .cmsmasters_heading a:hover {
}

#cmsmasters_heading_7qu39clccb .cmsmasters_heading_divider {
}



#cmsmasters_heading_zvrqhd0jud {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_zvrqhd0jud .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_zvrqhd0jud .cmsmasters_heading, #cmsmasters_heading_zvrqhd0jud .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_zvrqhd0jud .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_zvrqhd0jud .cmsmasters_heading_divider {
}



#cmsmasters_heading_1vak3wkgx9 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_1vak3wkgx9 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_1vak3wkgx9 .cmsmasters_heading, #cmsmasters_heading_1vak3wkgx9 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_1vak3wkgx9 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_1vak3wkgx9 .cmsmasters_heading_divider {
}



#cmsmasters_heading_geze52cjh {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_geze52cjh .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_geze52cjh .cmsmasters_heading, #cmsmasters_heading_geze52cjh .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_geze52cjh .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_geze52cjh .cmsmasters_heading_divider {
}



#cmsmasters_heading_rwenkmho8 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_rwenkmho8 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_rwenkmho8 .cmsmasters_heading, #cmsmasters_heading_rwenkmho8 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_rwenkmho8 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_rwenkmho8 .cmsmasters_heading_divider {
}




#cmsmasters_heading_tdhxvou17p {
	text-align:left;
	margin-top:0px;
	margin-bottom:30px;
}

#cmsmasters_heading_tdhxvou17p .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_tdhxvou17p .cmsmasters_heading, #cmsmasters_heading_tdhxvou17p .cmsmasters_heading a {
	font-size:24px;
}

#cmsmasters_heading_tdhxvou17p .cmsmasters_heading a:hover {
}

#cmsmasters_heading_tdhxvou17p .cmsmasters_heading_divider {
}



#cmsmasters_heading_5dpz17vqv {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_5dpz17vqv .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_5dpz17vqv .cmsmasters_heading, #cmsmasters_heading_5dpz17vqv .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_5dpz17vqv .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_5dpz17vqv .cmsmasters_heading_divider {
}



#cmsmasters_heading_n33k5hswxs {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_n33k5hswxs .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_n33k5hswxs .cmsmasters_heading, #cmsmasters_heading_n33k5hswxs .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_n33k5hswxs .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_n33k5hswxs .cmsmasters_heading_divider {
}



#cmsmasters_heading_8nomeg83d7 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_8nomeg83d7 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_8nomeg83d7 .cmsmasters_heading, #cmsmasters_heading_8nomeg83d7 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_8nomeg83d7 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_8nomeg83d7 .cmsmasters_heading_divider {
}



#cmsmasters_heading_votpcykclb {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_votpcykclb .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_votpcykclb .cmsmasters_heading, #cmsmasters_heading_votpcykclb .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_votpcykclb .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_votpcykclb .cmsmasters_heading_divider {
}



#cmsmasters_heading_thf70b3af2 {
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

#cmsmasters_heading_thf70b3af2 .cmsmasters_heading {
	text-align:left;
}

#cmsmasters_heading_thf70b3af2 .cmsmasters_heading, #cmsmasters_heading_thf70b3af2 .cmsmasters_heading a {
	font-size:16px;
	line-height:26px;
}

#cmsmasters_heading_thf70b3af2 .cmsmasters_heading a:hover {
	color:#f15039;
}

#cmsmasters_heading_thf70b3af2 .cmsmasters_heading_divider {
}
